@charset "UTF-8";

h1 {
  	color:#326693;			/* 見出しテキストの色を指定する */
  	padding-left:10px;		/* ボックス内左側の余白を指定する */
  	border-left: 10px solid rgb(0, 128, 255);	/* ボーダー左側のスタイルを指定する */
  	border-bottom: 1px dashed rgb(0, 128, 255); 	/* ボーダー下部のスタイルを指定する */
}

textarea {
  resize: none;
  width:300px;
  height:200px;
}

h3 {
	 white-space: pre-wrap; /*改行した際に反映する*/
}