@charset "UTF-8";

.h1 {
  	color: #326693;			/* 見出しテキストの色を指定する */
	padding-left:10px;		/* ボックス内左側の余白を指定する */
	border-left: 10px solid rgb(255, 128, 192);	/* ボーダー左側のスタイルを指定する */
  	border-bottom: 1px dashed rgb(255, 128, 192); 	/* ボーダー下部のスタイルを指定する */
}