<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="Style.css">
<title>入力画面</title>
</head>

<body>
	
	<h1 th:text="${title}"></h1>
		
	
	<h2>思っていることを自由に書き込んでみましょう</h2>
	
	
	<form method="post" th:action="@{/result}">
		
		<p>タイトル</p>
		<input type="text" name="title" autocomplete="off" required="required" style="width: 700px; height: 50px;" maxlength="30" placeholder="タイトルを入力してください">
		
		<p>本文</p>
			<textarea type="text" name="textbox" autocomplete="off" required="required" style="width: 700px; height:500px" maxlength="10000" placeholder="共有したいことはありませんか？"></textarea>
		
		<input type="submit" name="submit" style="font-size:20px; width:100px; height:50px" value="送信">
		<input type="reset" name="reset" style="font-size:20px; width:100px; height:50px"value="リセット"> <!--ボタンを作成-->
		
	</form>
	
	
</body>
</html>